---
import bgData from '../content/data/0.1/backgrounds.json';
import DiceTable from './DiceTable.astro';
const { name, equipment, languages } = Astro.props;
const info = bgData.find((c) => c.name === name);
---
{info?.description.map(desc => <p>{desc}</p>)}

<dl>
  <dt>Skill Proficiences</dt>
  <dd>{info?.starting_proficiencies.map(skill => skill.name).join(', ')}</dd>

  <dt>Languages</dt>
  <dd>{languages}</dd>

  <dt>Equipment</dt>
  <dd>
    {equipment}
  </dd>
</dl>

<h3>Feature: {info?.feature.name}</h3>
{info?.feature.desc.map(p => <p>{p}</p>)}

<h3>Suggested Characteristics</h3>
{info?.suggested_characteristics.map(p => <p>{p}</p>)}

<DiceTable
  title="Personality Traits (choose two)"
  options={info?.personality_traits.from.options.map(option => option.string)}
/>

<DiceTable
  title="Ideal (choose one)"
  options={info?.ideals.from.options.map(option => option.desc)}
/>

<DiceTable
  title="Bond (choose one)"
  options={info?.bonds.from.options.map(option => option.string)}
/>

<DiceTable
  title="Flaw (choose one)"
  options={info?.flaws.from.options.map(option => option.string)}
/>