---
import raceData from '../content/data/0.1/races.json';
import traitData from '../content/data/0.1/traits.json';
import PlayerSubrace from './playerSubrace.astro';
import { getRacialAbilityIncreaseText } from '../lib/attributes';
const { name } = Astro.props;
const info = raceData.find((race) => race.name === name);
---
<h2>{name} Traits</h2>
<dl>
  <dt>Ability Score Increase</dt>
  <dd>{getRacialAbilityIncreaseText(info?.index, info?.ability_bonuses)}</dd>

  <dt>Age</dt>
  <dd>{info?.age}</dd>

  <dt>Alignment</dt>
  <dd>{info?.alignment}</dd>

  <dt>Size</dt>
  <dd>{info?.size}</dd>

  <dt>Speed</dt>
  <dd>Your base walking speed is {info?.speed} feet.</dd>

  {info?.traits.map((trait) => {
    const traitInfo = traitData.find((t) => t.index === trait.index);
    return (
      <dt>{trait.name}</dt>
      <dd>{traitInfo?.desc}</dd>
    );
  })}

  <dt>Languages</dt>
  <dd>{info?.languages.map((lang) => lang.name).join(', ')}</dd>
</dl>

{info?.subraces && info.subraces.length > 0 ?
  info?.subraces.map(subrace => <PlayerSubrace key={subrace.index} />)
  : null}