---
import bgData from '../content/data/0.1/backgrounds.json';
const { name, equipment, languages } = Astro.props;
const info = bgData.find((c) => c.name === name);
---
<h2>{name}</h2>
{info?.description.map(desc => <p>{desc}</p>)}

<dl>
  <dt>Skill Proficiences</dt>
  <dd>{info?.starting_proficiencies.map(skill => skill.name).join(', ')}</dd>

  <dt>Languages</dt>
  <dd>{languages}</dd>

  <dt>Equipment</dt>
  <dd>
    {equipment}
  </dd>
</dl>

<h3>Feature: {info?.feature.name}</h3>
{info?.feature.desc.map(p => <p>{p}</p>)}
